<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p align="center"><strong>HI Friends</strong></p>
    <div class="cal">
        <form action="result/">
            <input type="number", placeholder="Enter the n", name="n_value"><br>
            <input type="number", placeholder="Enter the x", name="x_value"><br>
            <input type="submit">
        </form>

    </div>
</body>
</html>